POSTGRES_USER=refocus_user
POSTGRES_PASSWORD=change-me
POSTGRES_DB=refocus_db
DATABASE_URL="postgresql://refocus_user:change-me@localhost:5432/refocus_db?schema=public"

SYSTEM_ADMIN_EMAIL=
SYSTEM_ADMIN_PASSWORD=
SYSTEM_ADMIN_FULL_NAME=
